.input_text{
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px; 
    width: 200px;
    height: 10px;    
}

.input_title{
    word-spacing: 1.5 px;
    font-size: 20px;
    font-weight: 500;
}