<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/css/index.css">
    </head>

    <body>
        <h1 id="h1_title" class="h1_title_style">Top 10 Movies of the Week</h1>
        <h4 id="h4_subtitle" class="h4_subtitle_style">According to TMDB</h4>
        <div class="movie_list_div">
            {% for movie in movies_list %}
                <form method="POST" action="/handle_selection">
                        <input type="hidden" name="movie_title" value="{{movie}}">
                        <button class="movie_list_button" type="submit" onclick="open_wiki_page()">{{movie}}</button>
                </form>
            {% endfor %}
        </div>

        <script type="text/javascript" src="../static/demo.js"></script>
    </body>
</html>
